---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Sim贸n Flores"
  description="About Sim贸n Flores"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About me"
        >
        <!-- <img
					width="1553"
					height="873"
					src="/assets/FloresSimonG.png"
					alt="Sim贸n Flores at work with a colleague"
				/> -->
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            I have experience in software development, especially in web
            development, focusing on frontend. Right now, I work as a teaching
            assistant in the same field where I studied, helping students learn
            and improve their skills.
          </p>
          <p>
            Before I started programming, I graduated as a chemist in 2019. This
            was my first experience with technology, through process
            simulations. By studying Chemical Engineering at university, I gained a solid understanding of mathematics, physics, chemistry, algebra, and calculus.
          </p>
          <p>
            I believe in teamwork and growing together. I became a Full Stack
            Developer with a focus on frontend through Platzi and SoyHenry. I
            enjoy reading about Neuro-Linguistic Programming (NLP) and
            psychology.
          </p>
          <p>
            One of my key achievements was setting up a local branch in my city
            in 2014, which became a meeting point for fans until 2019. 
          </p>
          <p>
            I live in
            Gelsenkirchen, my native language is Spanish, I speak Portuguese
            fluently, I have a B1/B2 level in German, and a B1 level in English. 
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>Full-Stack Developer - Henry</p>
          <p>Chemist - Universidad Tecnol贸gica Argentina</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>
            React | Tailwind | NextJS | Leadership | JavaScript | Astro | PostgreSQL |
            NodeJS
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
