---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Simón G. Flores" description="About Simón G. Flores">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero title="About me" />

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
           I have experience in software development, especially in web development with a focus on frontend technologies. Since August 2024, I have been working for <a href="https://refineit.de/">RefineIT</a> in Recklinghausen as part of the frontend team, focusing on ReactJS/NextJS. I previously completed an internship as a software developer at Alltagsauto.ch.
          </p>
          
          <br>
          <p> From 03/2024 to 06/2024 I have worked
            as a Teaching Assistant in the same field where I studied, helping
            students learn and improve their skills.</p>
          <br />
          <p>
            Before I started programming, I graduated as a University Technician
            in Chemistry from Universidad Tecnológica Nacional Villa María in
            Argentina. This was my first experience with technology, through
            process simulations. By studying Chemical Engineering at university,
            I gained a solid understanding of mathematics, physics, chemistry,
            algebra, and calculus.
          </p>
          <br />

          <p>
            I live in Gelsenkirchen since April 2021. My native language is Spanish, I have a B2 level in German (I speak it every day with my wife, who was born here) and a B2 level in English, and I speak Portuguese fluently.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>Full-Stack Developer - Henry</p>
          <p>University Technician in Chemistry - Universidad Tecnológica Argentina</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>
            React | Angular | NextJS | Typescript | JavaScript | Figma | Leadership | Tailwind | Astro
            | PostgreSQL | NodeJS
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">In Progress</h2>
        <div class="content">
          <p>
            JAVA | Testing | Angular
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
